<footer class="container">
    <p class="float-right">
        <a href="#">Back to top</a>
    </p>
    <p><strong>Copyright</strong> © PipeSoft <%= Time.now.year %> ·
        <a href="#">Privacy</a> ·
        <a href="#">Terms</a>
    </p>
</footer>